requests
websockets
openai
aiortc
fastapi
aiohttp
uvicorn
python-multipart
pydantic_ai
pinecone[grpc]
PyPDF2
langgraph

psycopg[binary]
psycopg2-binary

langgraph-checkpoint-postgres
langchain
langchain_community
pillow
#